@model List<HandyMan.ViewModel.UsersViewModel>
@{
    ViewData["Title"] = "Details";
}


<main class="main">

       <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-users"> Service Providers</i>
            </div>
      <div id="page-content-wrapper">
       <div class="container-fluid">
            <div class="table table-hover">
                <div class="row">
                    <div class="col-md-2 font-weight-bold d-none d-md-block">Name</div>
                    <div class="col-md-2 font-weight-bold d-none d-md-block">Surname</div>
                    <div class="col-md-2 font-weight-bold d-none d-md-block">E-mail</div>
                    <div class="col-md-2 font-weight-bold d-none d-md-block">Service</div>
                    <div class="col-md-2 font-weight-bold d-none d-md-block">Rating</div>
                    <div class="col-md-2 font-weight-bold d-none d-md-block">Details</div>

                </div>
                      @if (Model.Any())
                            {
                                foreach (var details in Model)
                                {
                        <div class="row">
                            <div class="col-md-2">
                                    @details.name
                            </div>
                            <div class="col-md-2">
                                @details.surname
                            </div>
                            <div class="col-md-2">
                                @details.email
                            </div>
                            <div class="col-md-2">
                              @details.occupation
                            </div>
                            <div class="col-md-2">
                              @details.position
                            </div>
                             <div class="col-md-2">
                             <a href="@Url.Action("GetUserById", "Home")"> <i class="fa fa-exclamation-circle"></i></a>
                            </div>

                        </div>
             }
             }
            </div>
         </div>
      </div>
   </div>
</main>