@model PagedList.IPagedList<HandyMan.ViewModel.UsersViewModel>
@using PagedList.Mvc;

@{
    ViewData["Title"] = "Service Providers";
}

<main class="main">
    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Service Providers</a></li>
        </ol>
    </div>
    <br />
    @if (Model.Any())
    {
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-users"></i> Service Providers
                </div>
                <div class="card-body">
                    <div class="table table-hover">
                        <div class="row font-weight-bold">
                            <div class="col-md-2">Name</div>
                            <div class="col-md-2">Surname</div>
                            <div class="col-md-2">E-mail</div>
                            <div class="col-md-2">Service</div>
                            <div class="col-md-2">Rating</div>
                            <div class="col-md-2">Details</div>
                        </div>
                        @foreach (var details in Model)
                        {
                            <div class="row">
                                <div class="col-md-2">
                                    @details.name
                                </div>
                                <div class="col-md-2">
                                    @details.surname
                                </div>
                                <div class="col-md-2">
                                    @details.email
                                </div>
                                <div class="col-md-2">
                                    @details.occupation
                                </div>
                                <div class="col-md-2">
                                    @details.position
                                </div>
                                <div class="col-md-2">
                                    <a href="@Url.Action("ViewUserProfile", "Home", new { userId = "1" })">
                                        <i style="color:#20a8d8" data-toggle="tooltip" data-placement="top" title="View Details" class="fa fa-exclamation-circle"></i>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>

                    <!-- Pagination -->
@*                    <div class="pagination-container mt-3">
                        @Html.PagedListPager(Model, page => Url.Action("GetUsers", new { page }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded })
                    </div>*@
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid">
            <div class="card card-accent-primary">
                <div class="card-header">
                    <span class="fa fa-exclamation-triangle"></span>
                    <strong>Empty</strong>
                </div>
                <div class="card-body">
                    <div class="alert alert-primary">
                        <span class="fa fa-info-circle"></span> No user(s) available!
                    </div>
                </div>
            </div>
        </div>
    }
</main>
